#resumo {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start;
  align-items: flex-start; */
  margin-top: 4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#resumo > h2 {
  align-self: flex-start;
  font-size: 1.4rem;
}

#resumo-content {
  align-self: flex-start;
  /* align-items: justify; */

  margin-top: 0.3125rem;
  text-align: justify;
}

.placeholder {
  color: var(--resume-color);
  user-select: none;
}

/* inteligência */
